{% extends ':front/layout:base.html.twig' %}

{% block body %}
    <!-- ERROR -->
    <div class="page-wrap error-page">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>404</h4>
                    <h6>Erreur</h6>
                    <p>Page non trouvée</p>
                    <a href="{{ path('app_front_home') }}" class="btn btn-danger">Retour à la page d'accueil</a>
                </div>
            </div>
        </div>

    </div>
    <!-- ERROR -->
{% endblock %}