{% extends ':front/layout:base.html.twig' %}

{% block body %}
    <div class="page-wrap properties-page">

        <!-- BREADCRUMBS-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <a href="{{ path('app_front_home') }}">Accueil</a>
                        <span class="sep">/</span>
                        <span class="current">TOUT NOS BIENS</span>
                    </div>
                    <h2 class="page-title">{{ app.request.attributes.get('_route') == 'app_front_search' ? 'Résultats de la recherche' : 'Tous nos biens' }}</h2>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS -->

        <div class="container">
            <div class="row">
                {% include ':front/layout:property_sidebar.html.twig' %}
                <div class="col-md-8">
                    <div class="row properties-grid">
                        {% for property in properties.currentPageResults %}
                            {% include ':front/default:property_block.html.twig' with  {'property': property, 'col': 'col-md-6 col-sm-6' } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if properties.haveToPaginate %}
                        {{ pagerfanta(properties, 'comeback_template', { 'omitFirstPage': true}) }}
                    {% endif %}
                </div>
            </div>
        </div>


        {#<!-- PAGINATION -->#}
        {#<div class="container">#}
        {#<div class="row">#}
        {#<div class="col-md-12">#}
        {#<div class="pagination">#}
        {#<a href="#" class="prev"><i class="fa fa-angle-left"></i>Previous</a>#}
        {#<a href="#">1</a>#}
        {#<span>2</span>#}
        {#<a href="#">3</a>#}
        {#<a href="#">4</a>#}
        {#<a href="#">5</a>#}
        {#<a href="#">6</a>#}
        {#<a href="#" class="next">Next<i class="fa fa-angle-right"></i></a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<!-- PAGINATION -->#}
    </div>
{% endblock %}