{% extends ':front/layout:base.html.twig' %}

{% block body %}
    <div class="page-wrap">
        <!-- BREADCRUMBS-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <a href="{{ path('app_front_home') }}">Accueil</a>
                        <span class="sep">/</span>
                        <span class="current">A Propos</span>
                    </div>
                    <h2 class="page-title">A Propos</h2>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS -->

        <!-- CONTENTS -->
        <div class="container">
            <div class="page-contents text-center">
                <div class="row">
                    <div class="col-md-3">
                        <figure>
                            <img style="height: 360px; width: auto;" src="{{ asset('assets/images/patricia.jpg') }}" alt="Profile Image" class="img-responsive">
                        </figure>
                    </div>
                    <div class="col-md-9">
                        <p class="text-left">L'agence COMEBACK Immobilier située au coeur de l'Oise dispose d'une forte connaissance du marché, de ce département et tout particulièrement du secteur
                            Chantilly, Lamorlaye, Gouvieux, Orry la Ville, Coye la Forêt, La Chapelle en Serval, Luzarches, Chaumontel et les environs du 60, 77, 95.
                        </p>
                        <p class="text-left">COMEBACK Immobilier est à votre écoute afin d'estimer vos biens à sa valeur actuelle et saura vous conseiller et mettre à votre disposition
                            tout son professionnalisme et ses compétences pour l'achat, la vente, la location de votre maison, villa, appartement, terrain ou local commercial.
                        </p>
                        <p class="text-left">Nous vous accompagnerons aussi longtemps que nécessaire tout au long de vos démarches. Alors n'hésitez pas à nous contacter pour votre
                            projet immobilier</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENTS -->
        <!-- BANNER  -->
        {#<div class="full-width partners">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<ul>#}
                        {#<li class="col-md-2"><a href="#"><img src="images/logo1.png" alt="Client Logo" class="img-responsive"></a></li>#}
                        {#<li class="col-md-2"><a href="#"><img src="images/logo2.png" alt="Client Logo" class="img-responsive"></a></li>#}
                        {#<li class="col-md-2"><a href="#"><img src="images/logo3.png" alt="Client Logo" class="img-responsive"></a></li>#}
                        {#<li class="col-md-2"><a href="#"><img src="images/logo4.png" alt="Client Logo" class="img-responsive"></a></li>#}
                        {#<li class="col-md-2"><a href="#"><img src="images/logo5.png" alt="Client Logo" class="img-responsive"></a></li>#}
                        {#<li class="col-md-2"><a href="#"><img src="images/logo6.png" alt="Client Logo" class="img-responsive"></a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <!-- BANNER -->
    </div>
{% endblock %}