{% extends ':front/layout:base.html.twig' %}

{% block body %}
    <div class="flexslider" id="slider">
        <ul class="slides">
            <li>
                <img src="{{ asset('assets/images/homepage.jpeg') }}" class="img-responsive" alt="Image Carousel" />
            </li>
            {#<li>#}
                {#<img src="{{ asset('assets/images/homepage/homepage7.jpeg') }}" class="img-responsive" alt="Slider Image" />#}
            {#</li>#}
            {#<li>#}
                {#<img src="{{ asset('assets/images/homepage/homepage8.jpeg') }}" class="img-responsive" alt="Slider Image" />#}
            {#</li>#}
        </ul>

    </div>
    <!-- SLIDER -->

    <!-- FILTER -->
    <div class="container">
        {% include ':front/property:search.html.twig' %}
    </div>
    <!-- FILTER -->

    <!-- ITEMS GRID -->
    <div class="container">
        <h2>Nos dernières annonces immobilières</h2>
        <br>
        <div class="row">
            {% for propertyRow in properties|batch(3) %}
                {% for row in propertyRow %}
                    {% set property = row %}
                    {% include ':front/default:property_block.html.twig' with  {'property': property, 'col': 'col-md-4 col-sm-6'} %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <!-- ITEMS GRID -->
{% endblock %}
