{#<div class="col-md-6 col-sm-6">#}
    {#<div class="property-filter">#}
        {#<a href="#" class="active">All</a>#}
        {#<a href="#">Rent</a>#}
        {#<a href="#">Sale</a>#}
        {#<a href="#">Buy</a>#}
    {#</div>#}
{#</div>#}

<div class="col-md-12 col-sm-12">
    <div class="property-views">
        <a href="{{ path('app_front_property_grid') }}" {% if 'app_front_property_grid' in app.request.attributes.get('_route') %}class="active"{% endif %}><i class="fa fa-th-large"></i>Grid</a>
        <a href="{{ path('app_front_property_list') }}" {% if 'app_front_property_list' in app.request.attributes.get('_route') %}class="active"{% endif %}><i class="fa fa-bars"></i>List</a>
    </div>
</div>

<!-- SIDEBAR -->
<aside class="col-md-4">

    <div class="property-search">
        <form action="#" method="get">

            <select>
                <option>Location</option>
                <option>London</option>
                <option>Paris</option>
                <option>New York</option>
            </select>
            <select>
                <option>Category</option>
                <option>Lands</option>
                <option>Plots</option>
                <option>Commercial</option>
            </select>
            <select>
                <option>Type</option>
                <option>Buy</option>
                <option>Sell</option>
                <option>Rent</option>
            </select>

            <hr>

            <select>
                <option>Kind</option>
                <option>Home</option>
                <option>Studio</option>
                <option>Shop</option>
            </select>
            <select class="half first">
                <option>Rooms</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <select class="half">
                <option>Baths</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>

            <hr>

            <div class="check-box">
                <label><input type="checkbox" class="checkbox">Garage</label>
                <label><input type="checkbox" class="checkbox" checked>Gymnasium</label>
                <label><input type="checkbox" class="checkbox">Swimming Pool</label>
            </div>

            <hr>

            <div class="range">
                <p>
                    <label for="area" class="p-1">Area</label>
                    <span>Sq Ft <input type="text" id="area" /></span>
                </p>
                <div id="area-range"></div>
            </div>
            <div class="range">
                <p>
                    <label for="price" class="p-2">Price</label>
                    <span>$ <input type="text" id="price" ></span>
                </p>
                <div id="price-range"></div>
            </div>

            <div class="buttons">
                <button class="btn btn-danger"><i class="fa fa-search"></i>Search</button>
                <button class="btn btn-clear">Clear</button>
            </div>

        </form>
    </div>

</aside>
<!-- SIDEBAR -->